---
layout: default
---
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {% for pub in site.publications %}
      {{ pub.title }}
      <span class="__dimensions_badge_embed__" data-doi="{{ pub.doi }}" data-style="small_circle"></span>
    {% endfor %}

    {% for post in site.publications %}
      <li>
        <a href="http://dx.doi.org/{{ post.doi }}">
          <h2>{{ post.ref-authors }} ({{ post.ref-year }}).</h2></a>
      </li>
    {% endfor %}

  </div>

</article>
